<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Table Example</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body>
    <%  %>
  <div class="container mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= user.uname %> </td>
          <td> <%= user.email %> </td>
          <td> <%= user.phno %> </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
